<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<test name="Test1Chrome">
<parameter name="browser" value="Chrome"></parameter>
    <classes>
      <class name="Test.Shopping2.MegaShop"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test2Chrome">
<parameter name="browser" value="IE"></parameter>
    <classes>
      <class name="Test.Shopping2.MegaShop"/>
      </classes>
       </test> <!-- Test -->
</suite> <!-- Suite -->
